@using HKSJ.WBVV.Common.Http
@using HKSJ.WBVV.Common.Language
@{
    ViewBag.Title = LanguageUtil.Translate("web_View_NoPage_Index_title");
}
<div class="errormain" style="padding-bottom: 250px;"></div>
<p style="position: absolute; top: 615px; left: -104px;"><a class="errorback" href="@ServerHelper.RootPath">@LanguageUtil.Translate("web_View_NoPage_Index_errorback")</a></p>
