/* CSS Document */

/*  wrap公共样式  */
.wrap h3 { font-size:20px; margin-bottom:12px; font-weight:normal;}
.wrap h3 a{font-size:20px; font-weight:normal;}

.wrap_left{width:960px; float:left;}
.wrap_right{width:240px; float:right;}

/* 不同首页CSS  */

.daohang_map{ width:1200px; height:auto;margin:0 auto;}
.nav .curr { color:#059ff7;}
/*  second_nav  */
.nav { position:relative; margin-bottom:0px;}

.second_nav { position:absolute;  width:100%;}
.second_nav li { float:left; margin-top:12px; font-size:18px;display:inline; }
.second_nav a { color:#7e7e7e;text-decoration:none; margin-right:35px;}
.second_nav a:hover { color:#059ff7;}
.second_nav a.curr_01 { color:#059ff7;}

/*  BIAOTI  */
.wrap_biaoti{width:1200px;}
.wrap_bt_h3 { float:left; font-size:20px; width:1000px;}
.wrap_bt_h3 h3 a:hover { color:#059ff7;}

.wrap_x_title_more{ display:block; width:50px; margin-right:5px; padding-top:3px; float:right; text-align:right;}
.wrap_x_title_more a { font-size:15px;}
.wrap_x_title_more a:hover { color:#059ff7;}

/*  album  */
.album { width:1200px; margin:40px auto 0; }

.wrap_alb_bt_h3 { float:left; width:1000px; padding-top:6px;font-size:24px;color:#333;}
.wrap_alb_bt_h3 a { font-size:24px;}
.wrap_alb_bt_h3 a:hover { color:#059ff7;}

.wrap_alb_bt_nav { float:right; padding:4px 0 2px;}
.alb_mine { font-size:15px;  display:block; text-align:center; width:120px; height:36px; line-height:37px; background-color:#059ff7; color:#fff; border-radius:3px;}
.alb_mine:hover { color:#fff;}


/*  alb_pet  */
.alb_pet { width:1200px; margin:25px auto; }

.alb_pet_top {}
.alb_pet_down { margin:5px auto 0;}

/* alb_pet_top   */

.alb_pet_tup {font-size:14px; width:1220px;}

.alb_pet_tup ul{list-style:none;}
.alb_pet_tup li {float:left; display:block; width:224px; height:168px; margin-right:20px; margin-bottom:20px;}
.alb_pet_tup li.alb_p_img {  position:relative;}
.alb_pet_tup li img { width:224px; height:168px;}
.alb_pet_tup li.wrap_wmgz { margin-right:0px;}

.wrap_l_tu_bg { display:block; position:absolute; height:18px; padding-top:5px; width:214px; color:#fff; bottom:0; left:0;
				background-image: -moz-linear-gradient(top, rgba(255,255,255,0), #000000);
				background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0)), to(#000000));
				background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), #000000);
				background-image: -o-linear-gradient(top, rgba(255,255,255,0), #000000);
				background-image: linear-gradient(to bottom, rgba(255,255,255,0), #000000);
				background-repeat: repeat-x;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,0)', endColorstr='#000000', GradientType=0);}

.wrap_l_tu_bg2 { display:block; position:absolute; height:38px; padding-top:5px; width:214px; color:#fff; bottom:0; left:0;
				background-image: -moz-linear-gradient(top, rgba(255,255,255,0), #000000);
				background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0)), to(#000000));
				background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), #000000);
				background-image: -o-linear-gradient(top, rgba(255,255,255,0), #000000);
				background-image: linear-gradient(to bottom, rgba(255,255,255,0), #000000);
				background-repeat: repeat-x;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,0)', endColorstr='#000000', GradientType=0);}


.alb_pet_i_wz { position:absolute; padding:5px 10px; bottom:0px; line-height:18px; width:204px; overflow: hidden; /*自动隐藏文字*/ text-overflow: ellipsis;/*文字隐藏后添加省略号*/ white-space: nowrap;/*强制不换行*/ z-index:2;}

.alb_pet_i_wz a { font-size:12px; color:#fff;}
.alb_pet_i_wz a:hover { font-size:12px; color:#059ff7;}


.alb_pet_i_wz h6 { width:204px; overflow: hidden; /*自动隐藏文字*/ text-overflow: ellipsis;/*文字隐藏后添加省略号*/ white-space: nowrap;/*强制不换行*/}
.alb_pet_i_wz h6 a { font-size:14px; line-height:20px;}
.alb_pet_i_wz h6 a:hover { font-size:14px; color:#059ff7;}

/*  album_news  */
.album2 { width:1200px; margin:60px auto 0px; }
.album_news { width:1200px; display:block; margin-bottom: 15px;}
.wrap_alb_bt2_h3 { float:left; width:1000px; font-size:24px;color:#333; }
.wrap_alb_bt2_nav { float:right; padding:4px 0 2px; margin-right:5px;}
.wrap_alb_bt2_nav a:hover { color:#059ff7;}

/*  博客  */
.album3 { width:1200px; margin:20px auto 40px; }

.alb_boke { width:384px; margin:0 20px 20px 0; border:1px solid #e1e1e1; float:left; height:165px;}
.alb_boke_wmg{margin-right:0;}
.alb_bok_Timg { float:left; width:88px; margin:15px 12px 0px;}
.alb_bok_Timg img { width:88px; height:88px;}
.alb_bok_ding { display:block; background: url(../images/icon_img/fans_jh2.png) no-repeat 23px center; background-color:#059ff7; font-size:14px; color:#fff; margin-top:8px; padding:5px 0px 5px 38px; border-radius:3px;}
.alb_bok_ding:hover { color:#fff;}

.alb_bok_Wtext { float:left; font-size:14px; width:268px; padding:15px 0 5px; color:#8b8b8b;}
.alb_bok_Wtext h5{ font-size:16px; margin-bottom:2px; color:#333;}
.moren_sese { color:#333;}
.alb_bok_Wtext p {}