<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WebApiHost" value="@@ApiHostBindAddress@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ServicePort" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="IsDev" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="QiniuAccessKey" value="@@QiniuPrivateAccessKey@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="QiniuSecretKey" value="@@QiniuPrivateSecretKey@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="QiniuPrivateBucket" value="@@QiniuPrivateBucketName@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="QiniuPrivateDomain" value="@@QiniuPrivateBucketDomain@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="QiniuPublicBucket" value="@@QiniuPublicBucketName@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="QiniuPublicDomain" value="@@QiniuPublicBucketDomain@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="QiniuPipelinePool" value="@@QiniuPrivatePipelinePool@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="QiniuCallBackURL" value="@@QiniuCallBackURL@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="SMSBaseUri" value="@@SMSBaseUri@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="WebServerUrl" value="@@WebServerUrl@@" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="DataContextReader" connectionString="Data Source=@@DBServer@@;Initial Catalog=@@DBName@@;Persist Security Info=True;User ID=@@DBReadUser@@;Password=@@DBReadPass@@;Pooling=true;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    <add name="DataContextWriter" connectionString="Data Source=@@DBServer@@;Initial Catalog=@@DBName@@;Persist Security Info=True;User ID=@@DBWriteUser@@;Password=@@DBWritePass@@;Pooling=true;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  <enyim.com>
    <memcached>
      <servers>
        <add xdt:Transform="Remove" />
        <add address="@@MemcachedBindAddress@@" port="@@MemcachedBindPort@@" xdt:Transform="Insert" />
      </servers>
    </memcached>
  </enyim.com>
</configuration>