@using HKSJ.WBVV.Common.Language
@{
    Layout = null;
}
@*删除*@
<div id="alert" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true" style="display: none;z-index: 999999 !important;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="myModalLabel3" data-bind="text:title"></h3>
    </div>
    <div class="modal-body">
        <p data-bind="text:content"></p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn blue" aria-hidden="true">@LanguageUtil.Translate("admin_Views_Shared_Alert_buttonConfirm")
</button>
    </div>
</div>
