<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <style>
        body,div,p{margin:0; padding:0;}
        .emailmodel{ margin:100px 0 0 60px; font:14px/48px "微软雅黑"; color:#1e1e1e;}
        .emailmodel h2{}
        .emailmodel p{ line-height:48px;}
        .emailmodel p span{ color:#059ff7;}
        .emailmodel p:nth-of-type(3),.emailmodel p:nth-of-type(4){ line-height:26px;}
    </style>
</head>

<body>
<div class="emailmodel">
    <h2><a href="#"><img src="@imageUrl@" alt="我播" /></a></h2>
    <p>验证激活账号</p>
    <p>您在我播官方网站( 5bvv.com )的账户正在注册，请将验证码填写在注册页面下验证码对话框处，完成注册激活操作。</p>
    <p>验证码: <span>@code@</span></p>
    <p>请您在 24 小时内填写注册码完成注册，感谢您选择我播bvv.com，我们将为您提供一个全新自媒体分享平台，我播-播出你精彩！</p>
    <p>谢谢,</p>
    <p>我播 www.5bvv.com</p>
    <p>此邮件由系统发送，请勿回复</p>
</div>
</body>
</html>
