@using HKSJ.WBVV.Common.Http
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
    <body>
        
        <iframe id="iframeCrop" src="@ServerHelper.RootPath/Common/Cropper/Cropper.html" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="1000" height="320"></iframe>
    </body>
</html>
