@{
    Layout = null;
}

<html class=" -webkit-">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="协议">
    <meta name="keywords" content="协议">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/Content/css/Agreement.css" rel="stylesheet" />
    <title>我播-协议</title>
</head>
<body>
    <div class="lt_cate" id="lt_cate">
        <ul>
            <li class="cur"><a href="#ab">我播网服务</a></li>
            <li class="bt_zi"></li>
            <li><a href="#ac">上传人义务</a></li>
            <li class="bt_zi"></li>
            <li><a href="#ad">用户注册</a></li>
            <li class="bt_zi"></li>
            <li><a href="#ae">我播网上的内容</a></li>
            <li class="bt_zi"></li>
            <li><a href="#af">第三方链接</a></li>
            <li class="bt_zi"></li>
            <li><a href="#ag">用户行为</a></li>
            <li class="bt_zi"></li>
            <li><a href="#bc">知识产权及其他权利</a></li>
            <li class="bt_zi"></li>
            <li><a href="#bd">版权政策</a></li>
            <li class="bt_zi"></li>
            <li><a href="#be">隐私权政策</a></li>
            <li class="bt_zi"></li>
            <li><a href="#bf">免责声明</a></li>
            <li class="bt_zi"></li>
            <li><a href="#bg">出口与国际使用 </a></li>
            <li class="bt_zi"></li>
            <li><a href="#ca">服务终止</a></li>
            <li class="bt_zi"></li>
            <li><a href="#cb">法律适用和管辖</a></li>

        </ul>

    </div>
    <div class="user_agreement" id="user_agreement">
        <h2 class="agr_tit">我播帐号使用协议</h2>
        <p class="txt_id">
            请仔细阅读本“帐号使用协议” （以下亦称“本协议”）条款，如你（亦称“用户”）阅读后通过点选本协议下方的“同
            意”按钮而自愿接受本协议的约束，本协议就构成你与深圳惠卡世纪有限公司我播网站（下称：“我播网”）直接有约束力
            的法律文件。如果你是代表你的雇主或其他企业签订本协议，你在此陈述并保证；你已获得充分的授权签署本协议。
        </p>

        <h3 class="agr_tit_1" id="ab">一、我播网服务</h3>
        <p>
            1.1 描述我播网服务的“使用协议”构成本“帐号使用协议 ”的一部分，我播网服务包括在其网站上不时说明的服务，我播网保留权利随时对该等服务进行更改、更新或提高；
            <br>1.2 作为我播网服务的一部分，我播网针对不同的传播渠道为用户直接上载、管理、传播其内容提供服务，该等传播渠道包括但不限于：
            <br>（i）用户自己拥有权利的网站；
            <br>（ii）通过我播网的服务；
            <br>（iii）我播网提供的可以使用的其他传播渠道。

        </p>
        <h3 class="agr_tit_1" id="ac">二、上传人义务</h3>
        <p class="txt_id">
            为使用我播网服务上载、传播内容，你必须已经仔细阅读并接受“帐号使用协议”和“使用协议”，并且已注册一个有效的、
            经合法授权的帐号。你对所有上载到我播网上的内容，无论是否由你本人或代表你所创作，负完全的法律责任。 你保证不在
            我播网上载、传播任何包含淫秽、色情、侵权、反动或其他非法内容的视频及资料。你仅被允许通过我播网服务上载、传播
            你有充分的权利或授权进行传播的视频及资料。 在使用我播网服务的过程中，你必须始终遵守“帐号使用协议 ”和“使用协 议”及其后续不时修订之版本。
        </p>
        <h3 class="agr_tit_1" id="ad">三、用户注册</h3>
        <p class="txt_id">

            如果你使用我播网提供的网络存储空间进行视听节目的上载、传播服务，你需要注册一个帐号、密码，并确保用户身份的真实性、正确性及完整性，如果资料发生变
            化，你应及时更改。在安全完成本服务的登记程序并收到我播网提供的一个帐号及初始密码后，你应自行维持密码及帐号的安全。你应对任何人利用你的帐号及密码
            所进行的活动负完全的责任，我播网无法对非法或未经你授权使用你帐号及密码的行为作出甄别，因此我播网对此不承担任何责任。在此，你同意并承诺做到：
            <br> 3.1 当你的帐号或密码遭到未获授权的使用，或者发生其他任何安全问题时，你会立即有效通知到我播网；
            <br> 3.2 当你每次上网或使用其他服务完毕后，会将有关帐号等安全退出；
            <br> 3.3
            用户同意接受我播网通过电子邮件、客户端、网页或其他合法方式向用户发送商品促销或其他相关商业信息。在使用电信增值服务的情况下，用户同意接受本公司及
            合作公司通过增值服务系统或其他方式向用户发送的相关服务信息或其他信息，其他信息包括但不限于通知信息、宣传信息、广告信息等；
            <br> 3.4 你承诺不在注册、使用我播网提供的帐号从事下列行为：
            <br> （i） 故意冒用他人信息为你注册我播网帐号；
            <br> （ii） 未经他人合法授权以他人名义注册我播网帐号；
            <br> （iii） 使用侮辱、诽谤、色情等违反公序良俗的词语注册我播网帐号。
            <br> 您在此同意，我播网有权根据自己的判定，对违反上述条款的用户拒绝提供帐号注册或取消该帐号的使用。
            <br> 3.5 我播网保证，你提供给我播网的所有注册信息将根据隐私保护政策予以保密，但根据国家法律强制性要求予以披露的信息除外。
            <br> 3.6 您在此同意，如您在连续180天内未登录您在我播网的注册帐号，则我播网有权根据自己的判定，注销您在我播网的注册帐号。
        </p>
        <h3 class="agr_tit_1" id="ae">四、我播网上的内容</h3>
        <p>
            4.1 用户上传的作品和内容是指用户在我播网上载、传播的包括文字、图片、视频、音频或其它任何形式的内容和连接；
            <br> 4.2
            用户在我播网上传或发布原创作品及转载作品的，用户保证其对该等作品享有合法著作权/版权或者相应授权，并且用户同意授予我播网对所有上述作品和内容的在
            全球范围内的免费、不可撤销的、无限期的、并且可转让的非独家使用权许可，我播网有权展示、散布及推广上述作品；
            <br> 4.3我播网在此郑重提请你注意，任何经由我播网的服务以上载、张贴、发送电子邮件或任何其它方式传送的资讯、资料、文字、软件、音乐、音讯、照片、图形、视讯、信息或其它资料（以下简称“内容”），无论系公开还是私下传送，均由内容提供者、上传者承担责任；
            <br> 4.4
            我播网无法预先知晓并合理控制经由我播网的服务传送之内容，亦无法知晓内容提供者、上传者的真实身份。有鉴于此，你已预知使用我播网的服务时，可能会接触
            到令人不快、不适当或令人厌恶之内容，并同意放弃由此而产生的针对我播网的任何追索权。我播网有权依法停止传输任何上述内容并采取相应行动，包括但不限于
            暂停你使用我播网的服务的全部或部分，保存有关记录，并向有关机关报告；
            <br> 4.5 你需独立对自己在我播网上实施的行为承担法律责任。若你的行为不符合本协议，我播网有权在无需事先通知的情况下做出独立判断而立即取消你对帐号使用。你若在我播网上散布和传播反动、色情或其他违反国家法律的信息，我播网的系统记录有可能作为你违反法律的证据；
            <br> 4.6 因你进行上述作品和内容在我播网的上载、传播而导致任何第三方提出索赔要求或衍生的任何损害或损失，概与我播网无关，而由你承担全部责任。

        </p>
        <h3 class="agr_tit_1" id="af">五、第三方链接</h3>
        <p class="txt_id">为方便你使用，我播网服务可能会提供与第三方国际互联网网站或资源进行链接。除非另有声明，我播网无法对第三方网站服务进行控制，你因使用或依赖上述网站或资源所生的损失或损害，我播网不负担任何责任。</p>
        <h3 class="agr_tit_1" id="ag">六、用户行为</h3>
        <p>
            6.1
            你不得使用我播网提供的服务进行任何非法、淫秽、色情及其他违反公序良俗之活动，包括但不限于非法传销、诈骗、侵权及反动活动等，我播网有权依据自己的独
            立判断在不事先通知的情况下立即删除此类活动的相关内容、停止从事此类活动的帐号使用；
            <br> 6.2 除你与我播网另有约定外，你同意我播网的服务仅供你个人非商业性质的使用，你不可对我播网服务的任何部分或对其使用及获得进行复制、拷贝、出售或利用我播网服务进行调查、广告或将我播网服务用于其他任何商业目的，但我播网对特定服务另有使用指引或规则的除外。
        </p>
        <h3 class="agr_tit_1" id="bc">七、知识产权及其他权利</h3>
        <p>
            7.1
            除你自行上载、传播的内容外，我播网提供的网络服务中，包括但不限于任何网页、文本、图片、图形、音频和/或视频资料、商标、服务标记、公司名称及版权等
            （“知识产权”）均归属我播网所有，或已由我播网经合法授权取得，上述知识产权受《中华人民共和国版权法》、《中华人民共和国版权商标法》和/或其它财产
            所有权法律的保护。未经我播网同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被你用于其他任何商业目的。
            上述知识产权的全部或任何部分仅可由你为私人用途而保存在某台计算机内。我播网不对因上述知识产权的产生、传送或递交其全部或部分的过程中产生的延误、不
            准确、错误和遗漏或从中产生或由此产生的任何损害赔偿向你或任何第三方负法律责任。
            <br> 7.2
            我播网为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序及随附的帮助材料）的一切权利
            均属于该软件的著作权人，未经该软件的著作权人许可，你不得对该软件进行反向工程（reverse
            engineer）、反向编译（decompile）或反汇编（disassemble），或以其他方式发现原始编码，否则你应为此向该软件的著作权人承
            担相应的法律责任。
        </p>
        <h3 class="agr_tit_1" id="bd">八、版权政策</h3>
        <p class="txt_id">
            我播网尊重并采取合理措施保护版权人的合法利益，我播网已制定了我播网的版权政策，该版权政策构成本协议的组成部分。
            <br> 版权政策请参考： “版权政策”。
        </p>
        <h3 class="agr_tit_1" id="be">九、隐私权政策</h3>
        <p>
            9.1
            当用户注册我播网的服务时，用户须向我播网提供个人信息。我播网收集你个人信息的目的是为用户提供尽可能多的个人化网上服务以及为广告商提供一个方便的途
            径适当地与用户接触，并且可以向用户发送具有相关性的内容和广告。在此过程中，广告商绝对不会接触到用户的个人信息。我播网不会在未经合法注册并使用我播
            网的用户授权时，公开、编辑或透露其个人信息及用户保存在我播网中的非公开内容，除非有下列情况：
            <br>（i）有关法律规定或我播网合法服务程序规定；
            <br>（ii）在紧急情况下，为维护用户及公众的权益；
            <br>（iii）为维护我播网的商标权、专利权及其他任何合法权益；
            <br>（iv）其他需要公开、编辑或透露用户个人信息的情况。
            <br>9.2 在包括但不限于以下几种情况下，我播网有权使用用户的个人信息：
            <br>（i）在进行促销或抽奖时，我播网可能会与赞助商共享用户的个人信息，在这些情况下我播网会在发送用户信息之前进行提示，并且用户可以通过不参与而终止传送过程；
            <br>（ii）我播网可以将用户信息与第三方数据匹配；
            <br>（iii）我播网会通过透露合计用户统计数据，向未来的合作伙伴、广告商及其他第三方以及为了其他合法目的而描述我播网的服务；
            <br>（iv）用户购买在我播网列出的商品或服务时，我播网获得的信息及用户提供的信息会提供给商家，这些商家会进行数据收集操作，但我播网对商家的此种操作不负任何责任。
        </p>
        <h3 class="agr_tit_1" id="bf">十、免责声明</h3>
        <p>
            10.1
            我播网对于任何自我播网而获得的信息、内容或者广告宣传等任何资讯（以下统称“信息”），不保证真实、准确和完整性。如果任何单位或者个人通过上述信息而
            进行任何行为，须自行甄别真伪和谨慎预防风险，否则，无论何种原因，我播网不对任何非与我播网直接发生的交易和/或行为承担任何直接、间接、附带或衍生的
            损失和责任。
            <br> 10.2 我播网不对包括但不限于以下情形负责：
            <br> （i）我播网完全适合用户的使用要求；
            <br> （ii）我播网不受任何干扰、及时、安全、可靠且不出现任何错误；
            <br> （iii）用户经由我播网取得的任何产品、服务或其他材料符合用户的期望。
            <br> 10.3 用户使用经由我播网下载的或取得的任何资料，其风险自行负担；因该等使用导致用户电脑系统损坏或资料流失，用户应负完全责任；
            <br> 10.4 基于以下原因而造成的利润、商业信誉、资料损失或其他有形或无形损失，我播网不承担任何直接、间接的赔偿：
            <br>（i）我播网使用或无法使用；
            <br>（ii）经由我播网购买或取得的任何产品、资料或服务；
            <br>（iii）用户资料遭到未经授权的使用或修改；
            <br>（iv）其他与我播网相关的事宜。

        </p>
        <h3 class="agr_tit_1" id="bg">十一、出口与国际使用</h3>
        <p class="txt_id">
            我播网通过中华人民共和国境内的设施提供和控制我播网的服务，我播网不担保其所提供或控制之服务在其他国家或地区是适当的、可行的，任何在其他司法管辖区使用我播网服务的用户应自行确保其遵守当地的法律、法规，我播网对此不负任何责任。
        </p>
        <h3 class="agr_tit_1" id="ca">十二、服务终止</h3>
        <p>

            12.1 用户同意我播网有权基于其自行之考虑，因任何理由，包含但不限于缺乏使用或我播网认为用户已经违反本协议的文字及精神，而终止用户的帐号或服务之全部或任何部分，并将用户在我播网的任何内容加以移除并删除；
            <br> 12.2 用户同意依本协议提供之我播网的服务，无需事先向用户通知即可中断或终止，用户承认并同意，我播网可立即关闭或删除用户的帐号及用户帐号中所有相关信息及文件，及/或禁止继续使用前述文件或我播网的服务；
            <br> 12.3 用户同意若我播网的服务使用被中断、终止或用户的帐号及相关信息和文件被关闭、删除，我播网对用户或任何第三人均不承担任何责任。

        </p>

        <h3 class="agr_tit_1" id="cb">十三、法律适用和管辖</h3>
        <p>
            13.1 本协议的生效、履行、解释及争议的解决均适用中华人民共和国法律。
            <br> 13.2 如就本协议内容或其执行发生任何争议，应尽量友好协商解决；协商不成时，则争议各方均一致同意将争议提交深圳仲裁委员会依据其现行仲裁规则进行仲裁解决。仲裁地点为深圳，仲裁语言为中文。仲裁裁决为终局的，对各方均有法律约束力。
            <br> 特别提示：你在进行注册之前，请确保你本人已经完全理解并接受本协议所有条款（尤其是免责条款），否则请不要注册。一旦你正式注册，则表明你已经完全理解并接受本协议所有条款，尤其是免责和责任限制条款。
            <br> 深圳惠卡世纪有限公司
            <br> 最后更新：2015年10月

        </p>
    </div>
</body>
<script type="text/javascript">
    window.onload = function () {
        var oLtCate = document.getElementById("lt_cate"),
            LtCateLi = oLtCate.getElementsByTagName("li"),
            oUserAgreement = document.getElementById("user_agreement"),
            UserAgreementH3 = oUserAgreement.getElementsByTagName("h3"),
            allH3Pos = [],
            allLtCateLi = [];

        for (var i = 0; i < LtCateLi.length; i += 2) {
            allLtCateLi.push(LtCateLi[i]);
        }
        for (var i = 0; i < allLtCateLi.length; i++) {
            allLtCateLi[i].onclick = function () {
                for (var j = 0; j < allLtCateLi.length; j++) {
                    allLtCateLi[j].className = "";
                }
                this.className = "cur";
            }
        }
        for (var i = 0; i < UserAgreementH3.length; i++) {
            allH3Pos.push(UserAgreementH3[i].offsetTop);
        }
        window.onscroll = function () {
            var scrTop = document.documentElement.scrollTop || document.body.scrollTop;
            for (var i = 0; i < allH3Pos.length; i++) {
                if (scrTop > allH3Pos[i] - 100) {
                    for (var j = 0; j < allLtCateLi.length; j++) {
                        allLtCateLi[j].className = "";
                    }
                    allLtCateLi[i].className = "cur";
                }
            }
        }
    }
</script>
</html>