@using HKSJ.WBVV.Common.Language
@{
    Layout = null;
}

<html class=" -webkit-">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="Agreement">
    <meta name=" keywords" content="Agreement">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/Content/css/Agreement.css" rel="stylesheet" />
    <title>Wobo Agreement</title>
</head>
<body>
    <div class="lt_cate" id="lt_cate">
        <ul>
            <li class="cur"><a href="#ab">Services of Wobo Site</a></li>
            <li class="bt_zi"></li>
            <li><a href="#ac">Obligations of Uploader</a></li>
            <li class="bt_zi"></li>
            <li><a href="#ad">User Registration</a></li>
            <li class="bt_zi"></li>
            <li><a href="#ae">Contents on Wobo Site</a></li>
            <li class="bt_zi"></li>
            <li><a href="#af">Third-Party Links</a></li>
            <li class="bt_zi"></li>
            <li><a href="#ag">User Behavior</a></li>
            <li class="bt_zi"></li>
            <li><a href="#bc">Intellectual Property and Other Rights</a></li>
            <li class="bt_zi"></li>
            <li><a href="#bd">Copyright Policy</a></li>
            <li class="bt_zi"></li>
            <li><a href="#be">Privacy Policy</a></li>
            <li class="bt_zi"></li>
            <li><a href="#bf">Disclaimers</a></li>
            <li class="bt_zi"></li>
            <li><a href="#bg">Export and International Use </a></li>
            <li class="bt_zi"></li>
            <li><a href="#ca">Termination of Services</a></li>
            <li class="bt_zi"></li>
            <li><a href="#cb">Application of Law and Jurisdiction</a></li>

        </ul>

    </div>
    <div class="user_agreement" id="user_agreement">
        <h2 class="agr_tit">Terms of Account Use Agreement</h2>
        <p class="txt_id">
            Please read this Terms of Account Use Agreement (hereinafter referred to as "Agreement") carefully, by clicking the "Agree" button, you ("user") voluntarily accept the terms and conditions of this Agreement, and this Agreement constitutes a legally binding contract between you and  Wobo Site of Shenzhen Huika Century Group Inc. (hereinafter referred to as "Wobo Site"). If you are signing this Agreement on behalf of your employer or other enterprise, please state clearly and warrant that you have been fully authorized to do so.
        </p>

        <h3 class="agr_tit_1" id="ab">1. Services of Wobo Site</h3>
        <p>
            1.1 Describing the "Use Agreement" of the services of Wobo Site is a part of this Agreement, services of Wobo Site include those declared on the site from time to time, Wobo Site reserves the right to change, update, or improve the services at any time.
            <br>1.2 As a part of the services of Wobo Site, Wobo Site provides different channels of communication for users to directly upload, manage or transmit its content, the channels include but not limited to:
            <br>(i)websites owned by users;
            <br>(ii)services on or through Wobo Site;
            <br>(iii)other usable channels of communication provided by Wobo Site.

        </p>
        <h3 class="agr_tit_1" id="ac">2. Obligations of Uploader</h3>
        <p class="txt_id">
            In order to use Wobo Site to upload and transmit content, you must have carefully read and accepted this Agreement and the Use Agreement, and registered a valid and legally authorized account. You take full legal responsibility of the uploaded online content, whether created by you or on your behalf. You promise not to upload or transmit any video, material which has obscene, pornographic, infringing, reactionary, or other illegal content. You are only allowed to upload, transmit video and material which you have every right to do so or authorized to do so via the services of Wobo Site. You must always comply with this Agreement, the Use Agreement and its subsequent revisions from time to time during use. 
        </p>
        <h3 class="agr_tit_1" id="ad">3. User Registration</h3>
        <p class="txt_id">
            By using the network storage space provided by Wobo Site to upload and transmit audio-visual programs, you need to register an account and a password, and ensure the information true, accurate, and complete at the time of providing and shall timely make updates if the data changes. After you safely complete the registration process of this service and receive a username and initial password provided by Wobo Site, you should maintain the security of your own password and account. You are fully responsible for any activities performed by anyone who uses your username and password, Wobo Site cannot identify the illegal or unauthorized use of your account and password, therefore, Wobo Site disclaims any responsibility of such conduct. Here, you agree to and promise to:
            <br> 3.1 notify Wobo Site promptly in an efficient manner when your account or password is under unauthorized use or has any other security issues;
            <br> 3.2 log out relevant account after you surf the Internet or use other services;
            <br> 3.3
            accept the promotional information or other related business information sent by email, client-side webpage or other lawful means through Wobo Site. By using the telecom value-added service, you agree to accept related service information or other information sent by the company and its partners through the value-added service system or other means, other information including but not limited to notification, promotion, advertising information, etc.;
            <br> 3.4 When registering and using the account of Wobo Site, you promise not to:
            <br> (i) deliberately use other people's data to register the account of Wobo Site;
            <br> (ii) register the account of Wobo Site in the name of others without lawful authority;
            <br> (iii) use words that are insulting, slanderous, pornographic or violate the public order and good morals to register the account of Wobo Site.
            <br> You hereby agree that if you violate any of the above terms, Wobo Site has the right to refuse to provide account registration or cease the use of your account according to its own discretion.
            <br> 3.5 Wobo Site guarantees that all the registration information you provide will be kept confidential in accordance with the Privacy Policy, except those should be disclosed according to the mandatory requirement of the national laws.
            <br> 3.6 You hereby agree that if you failed to access the account of Wobo Site for 180 consecutive days, Wobo Site has the right to cancel your account according to its own discretion.
        </p>
        <h3 class="agr_tit_1" id="ae">4. Contents on Wobo Site</h3>
        <p>
            4.1 The works and contents uploaded by users refer to texts, images, videos, audios, or any other forms of contents and links that are uploaded or transmitted through Wobo Site.
            <br> 4.2
            Users who upload or publish original works and reproduce works should ensure the legal copyright or proper authorization, and should agree to grant Wobo Site the free, irrevocable, indefinite, and transferable non-exclusive right to use such works and contents worldwide, Wobo Site has the right to show, spread and promote such works. 
            <br> 4.3 Wobo Site reminds you to pay attention to this, for any news, materials, texts, software, music, audio works, photos, graphics, visual works, messages or other materials (collectively, "Content") uploaded, posted, emailed or transmitted by any other ways via the services of Wobo site, whether publicly or privately, the Content provider or uploader should undertake the responsibility.
            <br> 4.4
            Wobo Site is unable to know the Content in advance and reasonably control them, or be aware of the true identity of its provider or uploader before they are transmitted through the site. For this reason, you already know that you might access to offensive, inappropriate or disgust Content when using the services of Wobo Site, and you agree to give up any right of recourse on such result against Wobo Site. Wobo Site shall have the right to cease the transmission of any such Content in accordance with the law and take appropriate actions, including but not limited to suspend your use of all or some of the services of Wobo Site, keep relevant records, and report to the relevant authorities.
            <br> 4.5 You are solely responsible for your own behavior on Wobo Site. If your behavior does not accord with this Agreement, Wobo Site shall have the right to make independent discretion and cancel your account immediately without prior notice. If you spread and transmit reactionary message, pornography or other information that violate national laws, the system record on Wobo Site may be used as evidence of your lawbreaking.
            <br> 4.6 You are solely responsible for your own behavior on Wobo Site. If your behavior does not accord with this Agreement, Wobo Site shall have the right to make independent discretion and cancel your account immediately without prior notice. If you spread and transmit reactionary message, pornography or other information that violate national laws, the system record on Wobo Site may be used as evidence of your lawbreaking.

        </p>
        <h3 class="agr_tit_1" id="af">Third-Party Links </h3>
        <p class="txt_id">Wobo Site may contain links to the third-party sites or resources for your convenience. Unless otherwise stated, Wobo Site has no control over the services of the third-party sites, and disclaims all liability for any losses or damages resulting from your use of or reliance upon such sites or resources.</p>
        <h3 class="agr_tit_1" id="ag">6. User Behavior</h3>
        <p>
            6.1
            You shall not use the services of Wobo Site to engage in any activities which are illegal, obscene, pornographic or violate the public order and good morals, including but not limited to illegal pyramid scheme, fraud, tort and reactionary activities, Wobo Site shall have the right to make independent discretion and immediately delete the related content of such activities or terminate the account for similar purposes without prior notice.
            <br> 6.2 Unless otherwise agreed, you consent that the services of Wobo Site are provided to you for your personal non-commercial purposes only, you cannot duplicate, copy, sell any part of the services of Wobo Site, or use the services of Wobo Site for investigation, advertising, or any other commercial purposes, but not including the specific services which have been given guidelines or rules by Wobo Site.
        </p>
        <h3 class="agr_tit_1" id="bc">7. Intellectual Property and Other Rights</h3>
        <p>
            7.1
            In addition to the Content uploaded, transmitted by you, the network services provided by Wobo Site, including but not limited to any web pages, texts, images, graphics, audio and/or video data, trademarks, service marks, company names and copyright ("Intellectual Property") are owned by Wobo Site or obtained by legal authorization, the stated Intellectual Property are under the protection of Copyright Law of the People's Republic Of China, Trademark Law of the People's Republic of China and/or other property ownership laws. Without the permission of Wobo Site, you cannot directly or indirectly publish, play the above materials in any media, or rewrite, republish such materials for publication or play, or for any other commercial purposes. All or any part of the above Intellectual Property can be stored in a computer for your personal use only. Wobo Site shall not be liable to you or any third party, for the delay, inaccuracy, error and omission or any derivative damages arising from the produce, transmission or submission of some or all of the above Intellectual Property.
            <br> 7.2
            For any software (and materials in the software, including but not limited to any images, pictures, animations, videos, recordings, music, texts, additional procedures and attached materials) used by Wobo Site to provide network services, all the rights belong to the software's copyright owner, without the permission of the software's copyright owner, you may not reverse engineer, decompile or disassemble the software, or discover the source code in other ways, otherwise you shall undertake corresponding legal liabilities.
        </p>
        <h3 class="agr_tit_1" id="bd">8. Copyright Policy</h3>
        <p class="txt_id">
            Wobo Site respects the legitimate interests of the copyright owners, and a reasonable measure, namely, a Copyright Policy, has been made to protect their interests, the Copyright Policy is a part of this Agreement.
            <br> For more details, please refer to "Copyright Policy".
        </p>
        <h3 class="agr_tit_1" id="be">9. Privacy Policy</h3>
        <p>
            9.1
            Users need to provide personal information when registering an account on Wobo Site. The purpose to gather your personal information is to provide you with more personalized online services as much as possible, and to offer a convenient way for advertisers to properly contact with you, and send relevant content and advertising to you. In the process, advertisers will never access to the user's personal information. Without being authorized by the user who has legally registered and used Wobo Site, Wobo Site would not publish, compile, or disclose the user's personal information and the non-public content saved in Wobo Site by the user, unless Wobo Site shall:
            <br>(i)comply with the provisions of relevant laws or legal service programs of Wobo Site;
            <br>(ii)maintain the interests of users and the public in the event of an emergency; 
            <br>(iii)defend the trademark right, patent right, and any other lawful rights and interests of Wobo Site;
            <br>(iv)publish, compile or disclose an individual's information for any other circumstances where there is necessity to do so.
            <br>9.2 Wobo Site has the right to use users' personal information under the following circumstances, including but not limited to:
            <br>(i)Wobo Site might share users' personal information with its sponsors in promotions or raffles, in such cases, Wobo Site will notify the users before sending out the information, and users can terminate the transmission by not participating in such activities;
            <br>(ii)Wobo Site can match users' information with a third party data;
            <br>(iii)Wobo Site will disclose users' statistics for the purposes of describing its services to the future partners, advertisers and other third parties, and for other lawful purposes;
            <br>(iv)When users buying the goods or services listed on Wobo Site, the information obtained by Wobo Site or provided by users will be given to the merchants who will collect the data, but Wobo Site disclaims all liability for this kind of behavior which is conducted by the merchants.
        </p>
        <h3 class="agr_tit_1" id="bf">10. Disclaimers</h3>
        <p>
            10.1
            Wobo Site does not ensure the truthfulness, accuracy or completeness of any message, content, advertising or any other information (collectively, the "Information") obtained through Wobo Site. Any unit or individual who conducts any activities through such Information should identify its authenticity itself and prevent risk cautiously, otherwise, whatever the reason, Wobo Site disclaims all liability for any direct, indirect, incidental, or derivative losses caused by any deal and/or behavior occurred indirectly on Wobo Site.
            <br> 10.2 Wobo Site takes no responsibility for, including, without limitation, the following situations:
            <br> (i)Wobo Site is completely suitable for users' requirements;
            <br> (ii)Wobo Site is uninterrupted, prompt, secure, reliable and error-free;
            <br> (iii)Any product, service, or other materials obtained on or through Wobo Site meet users’ expectations.
            <br> 10.3 Your use of any material downloaded or obtained on or through Wobo Site shall be at your sole risk, and you shall take full responsibility for the computer system damage or data loss resulting from such use.
            <br> 10.4 Wobo Site does not undertake any direct, indirect compensation for the losses of profits, goodwill, data or other tangible or intangible losses caused by the following reasons:
            <br>(i)Wobo Site is unavailable;
            <br>(ii)Any product, material or service bought or obtained on or through Wobo Site;
            <br>(iii)Unauthorized use or modification of users' data;
            <br>(iv)Other matters that are relevant to Wobo Site.

        </p>
        <h3 class="agr_tit_1" id="bg">11. Export and International Use</h3>
        <p class="txt_id">
            Wobo Site provides and controls its services through the facilities inside the People's Republic of China, Wobo Site does not warrant that such services are proper and feasible in other countries or regions, any user who uses the services of Wobo Site in other jurisdictions must abide by local laws and regulations, Wobo Site takes no responsibility for such use.
        </p>
        <h3 class="agr_tit_1" id="ca">12. Termination of Services</h3>
        <p>

            12.1 You agree that Wobo Site, based on the consideration of its own, shall have the right to terminate the account or all or any part of the services, remove and delete any of your content on Wobo Site for any reason, including but not limited to your deficient use or violation of the text and spirit of this Agreement.
            <br> 12.2 You agree that Wobo Site, based on the consideration of its own, shall have the right to terminate the account or all or any part of the services, remove and delete any of your content on Wobo Site for any reason, including but not limited to your deficient use or violation of the text and spirit of this Agreement.
            <br> 12.3 You agree that Wobo Site assumes no responsibility for you or any third party when the services of Wobo site are suspended, terminated, or your account is closed, or relevant information and files are deleted.

        </p>

        <h3 class="agr_tit_1" id="cb">13. Application of Law and Jurisdiction</h3>
        <p>
            13.1 The validity, performance, interpretation of this Agreement and the dispute resolution under this Agreement shall be governed by the laws of the People's Republic of China.
            <br> 13.2 In case of any dispute under this Agreement, both parties shall try to resolve it through friendly negotiation, if no settlement can be reached between, the dispute shall be submitted to Shenzhen Arbitration Commission for arbitration, in accordance with its rules in effect at the time of applying for arbitration. The arbitration shall be conducted in Shenzhen, and the language used during arbitration shall be Chinese. The arbitral award is final and binding upon both parties.
            <br> Special tips: Before registering Wobo Site, please ensure that you fully understand and accept all the terms and conditions of this Agreement (especially the disclaimers), otherwise please do not register the site. Once registered, it indicates that you have fully understood and accepted all the terms and conditions of this Agreement, especially the disclaimers and limitations of liability.
            <br> Shenzhen Huika Century Group Corp. Ltd.
            <br>Last updated time: October 2015

        </p>
    </div>
</body>
<script type="text/javascript">
    window.onload = function () {
        var oLtCate = document.getElementById("lt_cate"),
            LtCateLi = oLtCate.getElementsByTagName("li"),
            oUserAgreement = document.getElementById("user_agreement"),
            UserAgreementH3 = oUserAgreement.getElementsByTagName("h3"),
            allH3Pos = [],
            allLtCateLi = [];

        for (var i = 0; i < LtCateLi.length; i += 2) {
            allLtCateLi.push(LtCateLi[i]);
        }
        for (var i = 0; i < allLtCateLi.length; i++) {
            allLtCateLi[i].onclick = function () {
                for (var j = 0; j < allLtCateLi.length; j++) {
                    allLtCateLi[j].className = "";
                }
                this.className = "cur";
            }
        }
        for (var i = 0; i < UserAgreementH3.length; i++) {
            allH3Pos.push(UserAgreementH3[i].offsetTop);
        }
        window.onscroll = function () {
            var scrTop = document.documentElement.scrollTop || document.body.scrollTop;
            for (var i = 0; i < allH3Pos.length; i++) {
                if (scrTop > allH3Pos[i] - 100) {
                    for (var j = 0; j < allLtCateLi.length; j++) {
                        allLtCateLi[j].className = "";
                    }
                    allLtCateLi[i].className = "cur";
                }
            }
        }
    }
</script>
</html>